<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WalrusWarkausSB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="/stylesheets/index.css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
  </head>
  <body>


    
    <nav class="navbar navbar-expand-sm navbar-dark">
      <a class="navbar-brand" href="#">
        <img src="/images/WalrusLogo.jpg" alt="logo" id="navLogo">
      </a>
      

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="/users/login">KirjauduHallintaan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/register">RekisteröidyVAINTESTIKÄYTTÖÖN</a>
        </li>
      </ul>
    </nav>
    
    <div class="container" style="margin-top:30px">
      <div class="row">
        <div class="col-sm-4">
          <h2>Seuraava Ottelu</h2>
          <div id="tulevatOttelut">
            <script id="haeSeuraavaOtteluTemplate" type="text/x-handlebars-template">
                                       
                <P> Vastustaja : {{vastustaja}}</P><br>
                <p>Päivä : {{paiva}}</p><br>
                <p>Kello : {{aika}}</p><br>
                <p>Koti/vieras : {{kotiVieras}}</p>
              
              
             
            </script>
          </div>
         
          
        </div>
        <div class="col-sm-8">
          <ul class="nav nav-pills flex-row">
            <li class="nav-item">
              <button type="button" data-section="section1" class="btn segmentedButton ">Uutiset</button>
            </li>
            <li class="nav-item">
              <button type="button" data-section="section2" class="btn segmentedButton">Pelaajat</button>
            </li>
            <li class="nav-item">
              <button type="button" data-section="section3" class="btn segmentedButton">Ottelut</button>

            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" data-section="section1">Disabled</a>
            </li>
          </ul>
          <div class="content-section" id="section1">
          <h1>Tähän tulisi otsikko</h1>
          <article>Tässä voisi olla uusimpia kuulumisia ja uutisia.</article>
          <h2>Tasapelillä yöhön!</h2>
          <article>Voisi kertoilla vaikka mahtavasta tasapelistä sarjajumboa vastaan!</article>
        </div>
        <div class="content-section" id="section2">
          <h1> Section 2 </h1>
          <p>Section 2 Content goes here</p>
        </div>
        <div class="content-section" id="section3">
          <h1> Section 3 </h1>
          <p>Section 3 Content goes here</p>
        </div>
        </div>
      </div>
    </div>
    
    <footer class="page-footer fixed-bottom ">
      <div class="footer-copyright text-center">
          © 2018 Copyright:
          <a href="mailto: altti.fihlman@gmail.com" id="footerLink"> Walrus Warkaus</a>
      </div>
  </footer>
  
  <script src="/handlebars-v4.5.3.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/indexhtm.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    </body>



 
</html>